<th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
    <img class="w-10 h-10 rounded-full" src="./assets/profile.png" alt="Jese image">
    <div class="pl-3">
        <div class="text-base font-semibold">{{ name}}</div>
        <!-- <div class="font-normal text-gray-500">neil.sims@flowbite.com</div> -->
    </div>
</th>
<td class="px-6 py-4">
    {{ birthday }}
</td>
<td class="px-6 py-4">
    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
</td>